html,body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
img{
  width:200px;
  height: 100px;
}
@keyframes scroll
  0% {transform:translateX(0);}
  100% {transform:translateX(-100%);}
}
.carousel{

  overflow-x: auto;
  overflow:

}
.slider {
  min-width: 10px;
  min-height: 20vh;
  margin: 0px;

  font-size: 5em;
  text-align: center;
  line-height: 300px;

  border-radius: 7px;
}
